@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

 
.yazi{
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
}
.mirasimiz_baslik
{
    font-family: 'Josefin Sans', sans-serif;
    color: #FB6B02 ;
    margin-top: 20px;
}